/* MatchResultsImg.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.imageCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.polaroidCard {
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  position: relative;
  width: 290px; 
  height: 290px; 
}

.polaroidImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.polaroidImage {
  width: 267px; 
  height: 210px; 
  object-fit: fill;
}

.skullIcon {
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
  z-index: 10;
}

.warningIcon {
  width: 1.125rem; 
  height: 1.09375rem; 
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchBadge {
  position: absolute;
  top: 0.8rem;
  right: 9.5rem;
  display: flex;
  background-color: #FF5050;
  align-items: center;
  justify-content: left;
  border-radius: 9999px;
  padding: 0 0.5rem;
  z-index: 10;
  width: 6.23rem; 
  height: 1.5rem; 
}

.badgeText {
  font-weight: bold;
  font-size: 0.6875rem; 
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mushroomTitle {
  text-align: left; 
  font-family: 'Nunito', sans-serif; 
  font-size: 30px; 
  font-weight: 600; 
  color: #203B5F; 
  margin-top: 15rem; 
  width: 100%; 
  padding-top: 30px; 
  margin: 0; 
}

.scientificNameBox {
  width: 175px;
  height: 52px; 
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #203B5F;
  text-align: left;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: auto;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  background-color: #f5f5f5;
  border-radius: 4px;
  position: relative; 
  overflow: visible;
}

.scientificNameText {
  flex-grow: 1;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 60px; 
}

.addIcon {
  width: 52px;
  height: 52px;
  position: relative;
  right: 0; 
  top: 50%; 
  transform: translateY(-50%); 
  margin-bottom: 50px; 
}

.mushroomDescription {
  width: 290px;
  height: 264px;
  font-family: 'Nunito', sans-serif; 
  font-size: 16px; 
  color: #333333; 
  line-height: 25px; 
  margin-top: 25px; 
  padding: 5px; 
  background-color: #F2F2F2; 
  border-radius: 5px; 
  max-width: 290px; 
 
}
